{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock title %}
{% block content %}

  <section class="accessory section bd-container" id="accessory">
    <div class="category__container   main__container container__grid">
      <h2 class="section-title">Password change</h2>
      <div class="main__form">
        <p>Please enter your old password, for security's sake, and then enter your
          new password twice so we can verify you typed it in correctly.</p>
    
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy}}
          <input class="btn btn-success" type="submit" value="Change my password">
        </form>
      </div>
      
      
    </div>
   
  </section>
{% endblock content %}
