{% extends 'base.html' %}
{% block title %}Enter new password{% endblock title %}
{% block content %}

<section class="accessory section bd-container" id="accessory">
  <div class="category__container   main__container container__grid">
    <h2 class="section-title">Set a new password!</h2>
    <div class="main__form">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Change my password">
      </form>
      </div>
    </div>
  </section>
{% endblock content %}
