{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}

<section class="accessory section bd-container" id="accessory">
  <div class="category__container   main__container container__grid">
    <h2 class="section-title">Password reset complete</h2>
    <p>Please enter your old password, for security's sake, and then enter your

      <p>Your new password has been set. You can log in now on the
        <a href="{% url 'login' %}">Log In page</a>.</p>
  </div>

</section>
{% endblock content %}
